In [26]:
# 1. Case Study: Grocery Billing System
# Problem: A shopkeeper wants to generate a total bill using item prices.
# Task: Take a list of prices and compute the total using a loop.

prices = list(map(int, input("Enter item prices separated by space: ").split()))
total = 0
for price in prices:
    total += price
print("Total Bill:", total)

Enter item prices separated by space: 20 50 100
Total Bill: 170

In [27]:
# 2. Case Study: Student Grades
# Problem: Calculate the average marks of a student using a tuple of 5 subjects.

marks = tuple(map(int, input("Enter 5 subject marks separated by space: ").split()))
average = sum(marks) / len(marks)
print("Average:", average)

Enter 5 subject marks separated by space: 90 98 80 100 78
Average: 89.2

In [28]:
# 3. Case Study: Set of Unique Emails
# Problem: Extract unique email addresses from a list using a set.

emails = input("Enter email addresses separated by space: ").split()
unique_emails = set(emails)
print(unique_emails)

Enter email addresses separated by space: aneetta@gmail.com ashik123@gmail.com aneetta@gmail.com
{'aneetta@gmail.com', 'ashik123@gmail.com'}

In [29]:
# 4. Case Study: Attendance Tracker
# Problem: Use a dictionary to store and print student names with their attendance status.

n = int(input("Enter number of students: "))
attendance = {}
for _ in range(n):
    name = input("Enter student name: ")
    status = input("Enter attendance status (Present/Absent): ")
    attendance[name] = status
for k, v in attendance.items():
    print(f"{k}: {v}")Pre

Enter number of students: 3
Enter student name: Aneetta
Enter attendance status (Present/Absent): Absent
Enter student name: Ashik
Enter attendance status (Present/Absent): Absent
Enter student name: Abhishek
Enter attendance status (Present/Absent): Present
Aneetta: Absent
Ashik: Absent
Abhishek: Present

In [30]:
# 5. Case Study: Multiplication Table
# Problem: Print the multiplication table of a number using a loop.

n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n * i, end=' ')
print()

Enter a number: 3
3 6 9 12 15 18 21 24 27 30

In [31]:
# 6. Case Study: Power Calculator
# Problem: Raise each number in a list to the power of 2 using a loop.

numbers = list(map(int, input("Enter numbers separated by space: ").split()))
squares = []
for num in numbers:
    squares.append(num ** 2)
print(squares)

Enter numbers separated by space: 10 20 30 2 4
[100, 400, 900, 4, 16]

In [38]:
# 7. Case Study: Diamond Star Pattern
# Problem: A school wants to print a diamond pattern for decorations using `*`.
# Write a program using nested loops to print a diamond star pattern of height n.n = int(input("Enter an odd height: "))
n = eval(input("Enter height: "))

for i in range(1, n + 1, 2):
    spaces = (n - i) // 2
    print(' ' * spaces + '*' * i)

for i in range(n - 2, 0, -2):
    spaces = (n - i) // 2
    print(' ' * spaces + '*' * i)

Enter height: 5
  *
 ***
*****
 ***
  *

In [33]:
# 8. Case Study: Count Even and Odd
# Problem: Count even and odd numbers from a tuple using a loop.

numbers = tuple(map(int, input("Enter numbers separated by space: ").split()))
even = odd = 0
for num in numbers:
    if num % 2 == 0:
        even += 1
    else:
        odd += 1
print("Even:", even, "Odd:", odd)

Enter numbers separated by space: 10 15 31 7 4 18
Even: 3 Odd: 3

In [35]:
# 9. Case Study: Unique Fruits
# Problem: From a list of fruits, print the unique ones using set.

fruits = input("Enter fruit names separated by space: ").split()
unique_fruits = set(fruits)
print(unique_fruits)

Enter fruit names separated by space: Apple Orange Watermelon Orange Grapes Apple Grapes
{'Watermelon', 'Orange', 'Apple', 'Grapes'}

In [41]:
# 10. Case Study: Sum Dictionary Values
# Problem: Calculate the total marks from a dictionary of subject marks.

n = int(input("Enter number of subjects: "))
marks = {}
for _ in range(n):
    subject = input("Enter subject: ")
    score = int(input("Enter score: "))
    marks[subject] = score
print("Total:", sum(marks.values()))

Enter number of subjects: 2
Enter subject: Mathematics
Enter score: 90
Enter subject: Malayalam
Enter score: 99
Total: 189

In [42]:
# 11. Case Study: Reverse List
# Problem: Reverse a list using a loop.

numbers = list(map(int, input("Enter numbers separated by space: ").split()))
reversed_list = []
for i in range(len(numbers)-1, -1, -1):
    reversed_list.append(numbers[i])
print(reversed_list)

Enter numbers separated by space: 10 20 30 40 50 60 31 7
[7, 31, 60, 50, 40, 30, 20, 10]

In [43]:
# 12. Case Study: Login Verification
# Problem: Use `==` operator to check if entered username matches the stored one.

stored = input("Enter stored username: ")
entered = input("Enter entered username: ")
print("Login Successful" if stored == entered else "Login Failed")

Enter stored username: Aneetta
Enter entered username: Aneetta
Login Successful

In [44]:
# 13. Case Study: Library Book Count
# Problem: Loop through a dictionary to find the total number of books.

n = int(input("Enter number of book categories: "))
books = {}
for _ in range(n):
    category = input("Enter category: ")
    count = int(input("Enter book count: "))
    books[category] = count
print("Total Books:", sum(books.values()))

Enter number of book categories: 2
Enter category: Thriller
Enter book count: 3
Enter category: Romance
Enter book count: 2
Total Books: 5

In [45]:
# 14. Case Study: Divisibility Checker
# Problem: Print numbers divisible by 3 from 1 to 20 using a loop.

for i in range(1, 21):
    if i % 3 == 0:
        print(i, end=", ")
print()

3, 6, 9, 12, 15, 18,

In [46]:
# 15. Case Study: Compare Two Lists
# Problem: Use a loop and operator to compare elements of two lists and print common items.

list1 = list(map(int, input("Enter first list: ").split()))
list2 = list(map(int, input("Enter second list: ").split()))
common = []
for item in list1:
    if item in list2:
        common.append(item)
print(common)

Enter first list: 2 4 7 14 18
Enter second list: 5 8 14 18 55
[14, 18]

In [48]:
# 16. Case Study: Vowel Counter
# Problem: Count the number of vowels in a word using loop and condition.

word = input("Enter a word: ").lower()
vowels = 'aeiou'
count = 0
for ch in word:
    if ch in vowels:
        count += 1
print(count)

Enter a word: Hibiscus
3

In [49]:
# 17. Case Study: Duplicate Remover
# Problem: Remove duplicates from a list using a set and convert back to list.

numbers = list(map(int, input("Enter numbers: ").split()))
unique_list = list(set(numbers))
print(unique_list)

Enter numbers: 7 3 1 1 1 4 1 4 1 8
[1, 3, 4, 7, 8]

In [50]:
# 18. Case Study: Student Rank
# Problem: Store and display student names with ranks using dictionary (Rank as key).

n = int(input("Enter number of students: "))
students = {}
for _ in range(n):
    rank = int(input("Enter rank: "))
    name = input("Enter student name: ")
    students[rank] = name
for rank, name in sorted(students.items()):
    print(f"{rank} - {name}")

Enter number of students: 2
Enter rank: 2
Enter student name: Aneetta
Enter rank: 1
Enter student name: Ashik
1 - Ashik
2 - Aneetta

In [51]:
# 19. Case Study: Nested Loop - Coordinate Printer
# Problem: Print all coordinate pairs from two ranges using nested loops.

x = int(input("Enter range1 limit: "))
y = int(input("Enter range2 limit: "))
for i in range(x):
    for j in range(y):
        print((i, j))

Enter range1 limit: 4
Enter range2 limit: 3
(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

In [52]:
# 20. Case Study: Password Strength
# Problem: Check if a password contains both digits and letters using loops and operators.

password = input("Enter password: ")
has_digit = has_alpha = False
for ch in password:
    if ch.isdigit():
        has_digit = True
    elif ch.isalpha():
        has_alpha = True
if has_digit and has_alpha:
    print("Strong Password")
else:
    print("Weak Password")

Enter password: abc123@
Strong Password