In [107]:
# Q1. Create a Pandas Series using a list of 5 fruits. Print the 3rd fruit using index.

import pandas as pd

fruits = input("Enter 5 fruits separated by space: ").split()
series = pd.Series(fruits)
print("3rd fruit is:", series[2])

Enter 5 fruits separated by space: Apple Orange Guava Grapes Mango
3rd fruit is: Guava

In [109]:
# Q2. You are given a list of student names and their scores. Convert it into a Series and display the score of the student named "Anu".

names = input("Enter student names separated by space: ").split()
scores = list(map(int, input("Enter scores for each student: ").split()))
series = pd.Series(scores, index=names)
print("Score of Anu:", series["Anu"])

Enter student names separated by space: Aneetta Ashik Anu
Enter scores for each student: 100 90 80
Score of Anu: 80

In [110]:
# Q3. Create a DataFrame with columns Name, Age, Marks. Display only the Marks column.

data = []
n = int(input("Enter number of students: "))
for i in range(n):
    name = input(f"Name {i+1}: ")
    age = int(input(f"Age {i+1}: "))
    marks = float(input(f"Marks {i+1}: "))
    data.append([name, age, marks])

df = pd.DataFrame(data, columns=["Name", "Age", "Marks"])
print("Marks column:\n", df["Marks"])

Enter number of students: 2
Name 1: Aneetta
Age 1: 25
Marks 1: 100
Name 2: Ashik
Age 2: 28
Marks 2: 100
Marks column:
 0    100.0
1    100.0
Name: Marks, dtype: float64

In [115]:
# Q4. From a DataFrame of employees with columns Name, Salary, and Department, use .loc to display the salary of the employee named "Raj".

names = input("Enter employee names: ").split()
salaries = list(map(float, input("Enter their salaries: ").split()))
departments = input("Enter their departments: ").split()

df = pd.DataFrame({"Name": names, "Salary": salaries, "Department": departments})
if "Raj" in df["Name"].values:
    print("Salary of Raj:", df.loc[df["Name"] == "Raj", "Salary"].values[0])
else:
    print("No employee named Raj is present.")

Enter employee names: Raj Ravi Neha Priya
Enter their salaries: 50000 45000 60000 55000
Enter their departments: HR Sales IT Finance
Salary of Raj: 50000.0

In [116]:
# Q5. Use .iloc to print the first 3 rows from a DataFrame containing student information.

data = []
n = int(input("Enter number of students: "))
for i in range(n):
    name = input(f"Name {i+1}: ")
    age = int(input(f"Age {i+1}: "))
    score = float(input(f"Score {i+1}: "))
    data.append([name, age, score])

df = pd.DataFrame(data, columns=["Name", "Age", "Score"])
print("First 3 rows:\n", df.iloc[:3])

Enter number of students: 4
Name 1: Aneetta
Age 1: 25
Score 1: 90
Name 2: Ashik
Age 2: 28
Score 2: 100
Name 3: Abhishek
Age 3: 19
Score 3: 99
Name 4: Ashitha
Age 4: 18
Score 4: 95
First 3 rows:
        Name  Age  Score
0   Aneetta   25   90.0
1     Ashik   28  100.0
2  Abhishek   19   99.0

In [117]:
# Q6. Given a DataFrame of customer records, use .at to update the value of a specific cell at row index 2 and column Name.

data = []
for i in range(4):
    name = input(f"Enter Name {i+1}: ")
    age = int(input(f"Enter Age {i+1}: "))
    data.append([name, age])

df = pd.DataFrame(data, columns=["Name", "Age"])
new_name = input("Enter new name to update at row index 2: ")
df.at[2, "Name"] = new_name
print("Updated DataFrame:\n", df)

Enter Name 1: Aneetta
Enter Age 1: 25
Enter Name 2: Ashik
Enter Age 2: 28
Enter Name 3: Abhishek
Enter Age 3: 19
Enter Name 4: Ashitha
Enter Age 4: 18
Enter new name to update at row index 2: Neethu
Updated DataFrame:
       Name  Age
0  Aneetta   25
1    Ashik   28
2   Neethu   19
3  Ashitha   18

In [121]:
# Q7. Create a DataFrame with some NaN values in the Marks column. Replace all NaN values with the average (mean) of the Marks column.

import pandas as pd
import numpy as np

names = input("Enter student names: ").split()
marks = []

for name in names:
    val = input(f"Enter marks for {name} (or 'nan'): ")
    marks.append(float(val) if val.lower() != "nan" else np.nan)

df = pd.DataFrame({"Name": names, "Marks": marks})

# Calculate mean
mean_val = df["Marks"].mean()

# Use .loc[] to assign values to NaNs
df.loc[df["Marks"].isna(), "Marks"] = mean_val

print("After filling NaN with mean:\n", df)

Enter student names: Aneetta Ashik
Enter marks for Aneetta (or 'nan'): nan
Enter marks for Ashik (or 'nan'): 100
After filling NaN with mean:
       Name  Marks
0  Aneetta  100.0
1    Ashik  100.0

In [124]:
# Q8. Load an Excel file named students.xlsx containing student data. Print the first 5 rows of the file.

from google.colab import files
import pandas as pd

uploaded = files.upload()

df = pd.read_excel("students.xlsx")
print("First 5 rows:\n", df.head())

Saving students.xlsx to students.xlsx
First 5 rows:
       Name  Age  Marks Grade
0  Aneetta   19     88     A
1    Ashik   20     75     B
2     Ravi   21     92     A
3     Neha   20     67     C
4    Meera   19     73     B

In [125]:
# Q9. After loading the Excel file, check and display the rows where the Age column is null using .loc.

df = pd.read_excel("students.xlsx")
print("Rows with null Age:\n", df.loc[df["Age"].isnull()])

Rows with null Age:
 Empty DataFrame
Columns: [Name, Age, Marks, Grade]
Index: []

In [126]:
# Q10. Calculate the mean of the Salary column from a DataFrame of employee details.

salaries = list(map(float, input("Enter salaries: ").split()))
df = pd.DataFrame({"Salary": salaries})
print("Mean Salary:", df["Salary"].mean())

Enter salaries: 30000 45000 24000
Mean Salary: 33000.0

In [127]:
# Q11. You are given a DataFrame df with missing values in the Score column. Use .loc to fill only those missing values with 75.

names = input("Enter names: ").split()
scores = []
for name in names:
    s = input(f"Enter score for {name} (or 'nan'): ")
    scores.append(float(s) if s.lower() != "nan" else np.nan)

df = pd.DataFrame({"Name": names, "Score": scores})
df.loc[df["Score"].isnull(), "Score"] = 75
print("Updated DataFrame:\n", df)

Enter names: Aneetta Ashik Abhishek
Enter score for Aneetta (or 'nan'): 95
Enter score for Ashik (or 'nan'): 99
Enter score for Abhishek (or 'nan'): nan
Updated DataFrame:
        Name  Score
0   Aneetta   95.0
1     Ashik   99.0
2  Abhishek   75.0

In [128]:
# Q12. Given a DataFrame df with student grades, use .iloc to print rows 2 to 5 and columns 1 to 3.

data = []
for i in range(6):
    row = input(f"Enter Name, Age, Grade for student {i+1} (space-separated): ").split()
    data.append(row)

df = pd.DataFrame(data, columns=["Name", "Age", "Grade"])
print("Rows 2 to 5, Columns 1 to 3:\n", df.iloc[2:6, 1:4])

Enter Name, Age, Grade for student 1 (space-separated): Aneetta 25 95
Enter Name, Age, Grade for student 2 (space-separated): Ashik 28 99
Enter Name, Age, Grade for student 3 (space-separated): Abhishek 19 100
Enter Name, Age, Grade for student 4 (space-separated): Ashitha 18 98
Enter Name, Age, Grade for student 5 (space-separated): Neethu 25 100
Enter Name, Age, Grade for student 6 (space-separated): Snehal 24 97
Rows 2 to 5, Columns 1 to 3:
   Age Grade
2  19   100
3  18    98
4  25   100
5  24    97

In [129]:
# Q13. Use .loc to filter and print all rows where the Age is greater than 20 from a DataFrame.

names = input("Enter names: ").split()
ages = list(map(int, input("Enter ages: ").split()))

df = pd.DataFrame({"Name": names, "Age": ages})
print("Age > 20:\n", df.loc[df["Age"] > 20])

Enter names: Aneetta Ashik Abhishek Ashitha
Enter ages: 25 28 19 18
Age > 20:
       Name  Age
0  Aneetta   25
1    Ashik   28

In [130]:
# Q14. Create a DataFrame from a dictionary of items (Item, Quantity, Price) and calculate the total price for each row using a new column Total = Quantity * Price.

items = input("Enter item names: ").split()
qtys = list(map(int, input("Enter quantities: ").split()))
prices = list(map(float, input("Enter prices: ").split()))

df = pd.DataFrame({"Item": items, "Quantity": qtys, "Price": prices})
df["Total"] = df["Quantity"] * df["Price"]
print("With Total column:\n", df)

Enter item names: Pen Milk Butter
Enter quantities: 10 4 2
Enter prices: 10 30 40
With Total column:
      Item  Quantity  Price  Total
0     Pen        10   10.0  100.0
1    Milk         4   30.0  120.0
2  Butter         2   40.0   80.0

In [132]:
# Q15. You have a DataFrame of city temperatures. Some values in the Temperature column are missing. Fill them using the average temperature calculated using mean().

cities = input("Enter city names: ").split()
temps = []
for city in cities:
    t = input(f"Enter temperature for {city} (or 'nan'): ")
    temps.append(float(t) if t.lower() != "nan" else np.nan)

df = pd.DataFrame({"City": cities, "Temperature": temps})

mean_temp = df["Temperature"].mean()

df.loc[df["Temperature"].isna(), "Temperature"] = mean_temp

print("Updated Temperatures:\n", df)

Enter city names: Kottayam Trivandrum Ernakulam
Enter temperature for Kottayam (or 'nan'): 28
Enter temperature for Trivandrum (or 'nan'): 31
Enter temperature for Ernakulam (or 'nan'): nan
Updated Temperatures:
          City  Temperature
0    Kottayam         28.0
1  Trivandrum         31.0
2   Ernakulam         29.5